.NameOfDevice{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.SS{
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.login{
    font-size: 20px;
    display: inline;
}
.accountData{
    width :250px;
    height : 25px;
    display: inline;
}
.name{
    display: inline;
    font-size: 30px;
}
.ChangeName{
    width :33px;
    height : 33px;  
}
.Time{
    width :180px;
    height : 35px;
    font-size: 20px; 
    font-weight:700;
     
}
button[name=devices]{
    width :180px;
    height : 40px;
    font-size: 20px; 
    font-weight:700;
}
.SW{
    width :364px;
    height : 35px;
    font-size: 20px; 
    font-weight:700;
}
.AD{
    width :350px;
    height : 35px;
}
.loginBTN{
    width :180px;
    height : 350px;
    /* display: flex;
    justify-content: center; */
}
.main{
    width :365px;
    height : 120px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.goBackDevicePage{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bmeNumber{
    font-size: 92px; 
    display: inline;
}
.bmeTag{
    font-size: 35px; 
    display: inline;
}
.bme{
    width :280px;
}
.bmeSys{
    font-size: 40px; 
    display: inline; 
}