.NameOfDevice{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.SS{
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:0px auto;
    height: 80%;
}
.stat{
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:0px auto;
}
.login{
    font-size: 20px;
    display: inline;
}
.accountData{
    width :250px;
    height : 25px;
    display: inline;
}
.name{
    display: inline;
    font-size: 30px;
}
.ChangeName{
    width :33px;
    height : 33px;  
}
.Time{
    width :100%;
    height : 35%;
    font-size: 20px; 
    font-weight:700;
     
}
button[name=devices]{
    width :180px;
    height : 40px;
    font-size: 20px; 
    font-weight:700;
}
.SW{
    width :72px;
    height : 72px;
    font-size: 20px; 
    font-weight:700;
}
.AD{
    width :350px;
    height : 35px;
}
.loginBTN{
    width :180px;
    height : 350px;
    margin:0px auto;
    /* display: flex;
    justify-content: center; */
}
.main{
    width :100%;
    height : 120px;
    margin:0px auto;
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin:0px auto;
}
.goBackDevicePage{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bmeNumber{
    font-size: 92px; 
    display: inline;
}
.bmeTag{
    font-size: 35px; 
    display: inline;
}
.bme{
    width :260px;
    margin:0px auto;
}
.bmeSys{
    font-size: 40px; 
    display: inline; 
}
.deviceBtn{
    margin:0px auto;
    width :185px;
}
.back{
    height : 35px;
    font-size: 20px; 
    font-weight:700;
}
.moi{
    width :205px;
    height : 35px;
    font-size: 20px; 
    font-weight:700;  
}
.humidBTN{
    width :100px;
    height : 35px;
    font-size: 20px; 
    font-weight:700;  
}